environment                = "production"
runtime_secret_version     = 1
redis_auth_token_version   = 1
aws_region                 = "ap-southeast-1"
api_image                  = "ACCOUNT.dkr.ecr.ap-southeast-1.amazonaws.com/rafay-pair-production/api@sha256:DIGEST"
worker_image               = "ACCOUNT.dkr.ecr.ap-southeast-1.amazonaws.com/rafay-pair-production/worker@sha256:DIGEST"
api_domain                 = "api.rafaypair.com"
web_domain                 = "app.rafaypair.com"
certificate_arn            = "arn:aws:acm:ap-southeast-1:ACCOUNT:certificate/ID"
cloudfront_certificate_arn = "arn:aws:acm:us-east-1:ACCOUNT:certificate/ID"
route53_zone_id            = "HOSTED_ZONE_ID"
play_integrity_allowed_certificate_sha256_digests = ["AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"]
play_integrity_min_version_code                   = 1
app_attest_team_id                                = "ABCDEFGHIJ"
app_attest_bundle_id                              = "com.rafaypair.app"
app_attest_allowed_validation_categories          = [1]
app_attest_allowed_bundle_versions                = ["1"]
deletion_protection        = true
nat_gateway_per_az         = true
api_desired_count          = 2
worker_desired_count       = 2
