openapi: 3.1.0
info:
  title: RafayPair API
  version: 1.0.0
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  description: >-
    Milestone 1 contract for authentication, two-person pairing, directional consent,
    care requests, privacy pause, notification registration, and authenticated realtime delivery.
    Browser clients use secure cookies plus double-submit CSRF. Native clients use opaque bearer tokens.
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.rafaypair.com
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Auth
    description: Password authentication and rotating native or browser sessions.
  - name: Pairs
    description: Secure creation, two-person joining, and irreversible disconnect revocation.
  - name: Consent
    description: Directional, durable, default-deny partner authorization grants.
  - name: Care
    description: Consent-authorized, idempotent care request delivery and response.
  - name: Privacy
    description: Durable privacy pause and resume controls that override all grants.
  - name: Realtime
    description: One-time WebSocket tickets and ordered durable event replay.
  - name: Notifications
    description: Native APNs and FCM device registration without exposing provider credentials.
  - name: Integrity
    description: Native App Attest and Play Integrity risk signals; backend authorization remains independent.
paths:
  /v1/auth/csrf:
    get:
      tags: [Auth]
      summary: Issue a Web CSRF token
      operationId: issueCsrfToken
      security: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
      responses:
        "200":
          description: CSRF token; the same value is set in the rafay_csrf cookie.
          headers:
            Set-Cookie:
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                required: [csrfToken]
                properties:
                  csrfToken: { type: string, minLength: 64 }
        "400": { $ref: "#/components/responses/Problem" }
  /v1/auth/register:
    post:
      tags: [Auth]
      summary: Register and create a rotating session
      operationId: register
      security: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
  /v1/auth/login:
    post:
      tags: [Auth]
      summary: Authenticate and create a rotating session
      operationId: login
      security: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
  /v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate access and refresh credentials
      operationId: refreshSession
      security: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: Rotated session. Reuse of an older refresh token revokes the session family.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
  /v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current session family
      operationId: logout
      security: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "204": { description: Logged out }
        "403": { $ref: "#/components/responses/Problem" }
  /v1/auth/me:
    get:
      tags: [Auth]
      summary: Read the authenticated user
      operationId: getCurrentUser
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Problem" }
  /v1/pairs/current:
    get:
      tags: [Pairs]
      summary: Read the current waiting or active pair
      operationId: getCurrentPair
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Current pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairResponse" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
    post:
      tags: [Pairs]
      summary: Create a waiting pair and one-time join code
      operationId: createPair
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      responses:
        "201":
          description: Waiting pair. joinCode is returned only by this operation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairResponse" }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
    delete:
      tags: [Pairs]
      summary: Disconnect the pair and durably revoke all partner grants
      operationId: disconnectPair
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      responses:
        "204": { description: Pair disconnected and partner access revoked }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
  /v1/pairs/join:
    post:
      tags: [Pairs]
      summary: Join a waiting pair as its second and final member
      operationId: joinPair
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/JoinPairRequest" }
      responses:
        "200":
          description: Active pair; every directional consent starts denied.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairResponse" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
  /v1/consents:
    get:
      tags: [Consent]
      summary: Read grants made by the current user to their partner
      operationId: getConsents
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Directional durable grants
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConsentResponse" }
        "409": { $ref: "#/components/responses/Problem" }
    put:
      tags: [Consent]
      summary: Atomically update selected directional consent grants
      operationId: updateConsents
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateConsentsRequest" }
      responses:
        "200":
          description: Complete updated grant set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConsentResponse" }
        "400": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
  /v1/care-requests:
    post:
      tags: [Care]
      summary: Send a consent-authorized care request
      operationId: createCareRequest
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateCareRequest" }
      responses:
        "201":
          description: Created, or the same result for an identical clientRequestId retry.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CareRequestResponse" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
    get:
      tags: [Care]
      summary: List care requests in the current active pair
      operationId: listCareRequests
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: cursor
          in: query
          description: Opaque newest-first cursor returned by the preceding page.
          schema:
            {
              type: string,
              minLength: 1,
              maxLength: 256,
              pattern: "^[A-Za-z0-9_-]+$",
            }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: Newest-first care requests
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CareRequestListResponse" }
        "403": { $ref: "#/components/responses/Problem" }
  /v1/care-requests/{id}/respond:
    post:
      tags: [Care]
      summary: Accept or decline a received care request
      operationId: respondCareRequest
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RespondCareRequest" }
      responses:
        "200":
          description: Updated care request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CareRequestResponse" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
  /v1/privacy:
    get:
      tags: [Privacy]
      summary: Read the current user's durable privacy state
      operationId: getPrivacyState
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Current privacy state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PrivacyStateResponse" }
        "409": { $ref: "#/components/responses/Problem" }
  /v1/privacy/pause:
    post:
      tags: [Privacy]
      summary: Immediately disable partner sharing for the current pair
      operationId: pausePrivacy
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      responses:
        "200":
          description: Privacy paused
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PrivacyStateResponse" }
        "409": { $ref: "#/components/responses/Problem" }
  /v1/privacy/resume:
    post:
      tags: [Privacy]
      summary: Resume consent-governed sharing; grants are revalidated on every action
      operationId: resumePrivacy
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      responses:
        "200":
          description: Privacy resumed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PrivacyStateResponse" }
        "409": { $ref: "#/components/responses/Problem" }
  /v1/realtime/tickets:
    post:
      tags: [Realtime]
      summary: Issue a one-time 30-second WebSocket ticket
      operationId: issueRealtimeTicket
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RealtimeTicketRequest" }
      responses:
        "200":
          description: One-time ticket bound to user, session, and active pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RealtimeTicketResponse" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
  /v1/realtime:
    get:
      tags: [Realtime]
      summary: Upgrade to a WebSocket and replay durable pair events
      operationId: connectRealtime
      security:
        - realtimeTicket: []
      parameters:
        - name: Sec-WebSocket-Protocol
          in: header
          required: true
          description: >-
            Offer exactly two protocols: rafaypair.v1 and
            rafaypair.ticket.<base64url-ticket>. The server selects and echoes only
            rafaypair.v1, so the credential is never reflected or placed in a URL.
          schema:
            type: string
            pattern: '^rafaypair\.v1,\s*rafaypair\.ticket\.[A-Za-z0-9_-]{43}$'
      responses:
        "101":
          description: >-
            WebSocket upgraded. Server messages use RealtimeEventEnvelope. Tickets are atomically consumed
            once; the selected protocol is rafaypair.v1; pause and disconnect control events close the socket
            after delivery. Durable replay contains only worker-authorized, currently authorized events and
            advances in bounded pages to a fixed PostgreSQL high-water mark.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RealtimeEventEnvelope" }
        "2XX":
          description: Successful WebSocket extended CONNECT when the serving protocol uses a 2xx handshake.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RealtimeEventEnvelope" }
        "400": { $ref: "#/components/responses/Problem" }
  /v1/notification-devices:
    post:
      tags: [Notifications]
      summary: Register an iOS APNs or Android FCM token
      operationId: registerNotificationDevice
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
        - $ref: "#/components/parameters/CsrfTokenOptionalForNative"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterNotificationDevice" }
      responses:
        "201":
          description: Registered encrypted-at-rest device token
          content:
            application/json:
              schema:
                { $ref: "#/components/schemas/NotificationDeviceResponse" }
        "400": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
  /v1/notification-devices/{id}:
    delete:
      tags: [Notifications]
      summary: Disable a notification device owned by the current user
      operationId: deleteNotificationDevice
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Device disabled }
        "404": { $ref: "#/components/responses/Problem" }
  /v1/integrity/android/challenges:
    post:
      tags: [Integrity]
      summary: Mint a short-lived Android integrity binding challenge
      operationId: createAndroidIntegrityChallenge
      description: >-
        Android only. The client hashes the documented canonical action with this one-time
        challenge before requesting a Standard Integrity token. A verdict is a risk signal
        and never grants or revokes API authorization by itself.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/AndroidIntegrityChallengeRequest" }
      responses:
        "201":
          description: Short-lived challenge bound to the authenticated Android session family.
          content:
            application/json:
              schema:
                {
                  $ref: "#/components/schemas/AndroidIntegrityChallengeResponse",
                }
        "400": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "501": { $ref: "#/components/responses/Problem" }
  /v1/integrity/android/assessments:
    post:
      tags: [Integrity]
      summary: Decode and record a content-bound Standard Integrity verdict
      operationId: submitAndroidIntegrityAssessment
      description: >-
        Android only. The encrypted provider token is sent directly to Google Play from the
        backend, never persisted, and checked for package, signing certificate, minimum app
        version, request hash, and freshness before its sanitized risk metadata is recorded.
        Google Standard Integrity automatic replay protection remains enabled. The result is
        not an authorization decision.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/AndroidIntegrityAssessmentRequest" }
      responses:
        "202":
          description: Sanitized risk signal recorded; authorization is unchanged.
          content:
            application/json:
              schema:
                {
                  $ref: "#/components/schemas/AndroidIntegrityAssessmentResponse",
                }
        "400": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "501": { $ref: "#/components/responses/Problem" }
        "503": { $ref: "#/components/responses/Problem" }
  /v1/integrity/ios/challenges:
    post:
      tags: [Integrity]
      summary: Mint a one-time, server-owned App Attest challenge
      operationId: createIosIntegrityChallenge
      description: >-
        iOS only. The server chooses attestation, assertion, or unsupported mode and returns
        canonical clientData. The native client passes its SHA-256 digest to DeviceCheck.
        App Attest remains risk telemetry and never grants or revokes authorization by itself.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/IosIntegrityChallengeRequest" }
      responses:
        "201":
          description: Short-lived challenge bound to the iOS session family and App Attest key.
          content:
            application/json:
              schema:
                { $ref: "#/components/schemas/IosIntegrityChallengeResponse" }
        "400": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/Problem" }
        "501": { $ref: "#/components/responses/Problem" }
  /v1/integrity/ios/assessments:
    post:
      tags: [Integrity]
      summary: Verify and record an App Attest risk signal
      operationId: submitIosIntegrityAssessment
      description: >-
        iOS only. The backend reconstructs canonical clientData, validates Apple's certificate
        chain, nonce, App ID, environment, key, assertion signature, and monotonic counter,
        then stores only the public key, receipt, counter, and sanitized risk metadata. Every
        challenge is single-use, including rejected proofs; the result is not authorization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientPlatform"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              { $ref: "#/components/schemas/IosIntegrityAssessmentRequest" }
      responses:
        "202":
          description: Sanitized risk signal recorded; authorization is unchanged.
          content:
            application/json:
              schema:
                { $ref: "#/components/schemas/IosIntegrityAssessmentResponse" }
        "400": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "501": { $ref: "#/components/responses/Problem" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Native-only short-lived opaque access token stored in Keychain or Keystore.
    cookieAuth:
      type: apiKey
      in: cookie
      name: rafay_access
      description: Web-only HttpOnly Secure SameSite=Strict access cookie.
    realtimeTicket:
      type: apiKey
      in: header
      name: Sec-WebSocket-Protocol
      description: >-
        One-time, 30-second ticket bound to the authenticated user, session, and pair. It is offered as
        rafaypair.ticket.<base64url-ticket> beside rafaypair.v1; only rafaypair.v1 is selected.
  parameters:
    ClientPlatform:
      name: X-Rafay-Client
      in: header
      required: true
      schema:
        type: string
        enum: [web, ios, android]
    CsrfTokenOptionalForNative:
      name: X-CSRF-Token
      in: header
      required: false
      description: Required for Web state-changing requests; must equal the readable rafay_csrf cookie.
      schema: { type: string }
  responses:
    Problem:
      description: RFC 9457 / RFC 7807 problem details
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/ProblemDetails" }
  schemas:
    User:
      type: object
      additionalProperties: false
      required: [id, email, displayName, createdAt]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, maxLength: 254 }
        displayName: { type: string, minLength: 1, maxLength: 80 }
        createdAt: { type: string, format: date-time }
    RegisterRequest:
      type: object
      additionalProperties: false
      required: [email, password, displayName]
      properties:
        email: { type: string, format: email, maxLength: 254 }
        password:
          type: string
          minLength: 12
          maxLength: 128
          description: Must contain at least one letter and one number.
        displayName: { type: string, minLength: 1, maxLength: 80 }
    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email: { type: string, format: email, maxLength: 254 }
        password: { type: string, minLength: 1, maxLength: 128 }
    RefreshRequest:
      type: object
      additionalProperties: false
      properties:
        refreshToken:
          type: string
          description: Required for native; Web uses rafay_refresh HttpOnly cookie.
    Session:
      type: object
      additionalProperties: false
      required: [accessTokenExpiresAt, refreshTokenExpiresAt]
      properties:
        accessToken:
          type: string
          description: Native responses only. Never returned to Web.
        refreshToken:
          type: string
          description: Native responses only. Never returned to Web.
        accessTokenExpiresAt: { type: string, format: date-time }
        refreshTokenExpiresAt: { type: string, format: date-time }
    AuthResponse:
      type: object
      additionalProperties: false
      required: [user, session]
      properties:
        user: { $ref: "#/components/schemas/User" }
        session: { $ref: "#/components/schemas/Session" }
    PairMember:
      type: object
      additionalProperties: false
      required: [userId, displayName, joinedAt]
      properties:
        userId: { type: string, format: uuid }
        displayName: { type: string, minLength: 1, maxLength: 80 }
        joinedAt: { type: string, format: date-time }
    Pair:
      type: object
      additionalProperties: false
      required: [id, status, members, createdAt]
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [waiting, active] }
        members:
          type: array
          minItems: 1
          maxItems: 2
          items: { $ref: "#/components/schemas/PairMember" }
        joinCode:
          type: string
          pattern: "^[A-Z2-9]{8}$"
          description: Present only in the create response while the pair is waiting.
        createdAt: { type: string, format: date-time }
    PairResponse:
      type: object
      additionalProperties: false
      required: [pair]
      properties:
        pair: { $ref: "#/components/schemas/Pair" }
    JoinPairRequest:
      type: object
      additionalProperties: false
      required: [code]
      properties:
        code: { type: string, pattern: "^[A-Z2-9]{8}$" }
    ConsentCapability:
      type: string
      enum:
        - care_requests
        - presence
        - workout_progress
        - pulse_snapshots
        - breathing_state
        - estimated_calories
        - ai_partner_context
    ConsentGrant:
      type: object
      additionalProperties: false
      required: [capability, granted, updatedAt]
      properties:
        capability: { $ref: "#/components/schemas/ConsentCapability" }
        granted: { type: boolean }
        updatedAt: { type: string, format: date-time }
    ConsentResponse:
      type: object
      additionalProperties: false
      required: [pairId, grantorUserId, granteeUserId, grants]
      properties:
        pairId: { type: string, format: uuid }
        grantorUserId: { type: string, format: uuid }
        granteeUserId: { type: string, format: uuid }
        grants:
          type: array
          minItems: 7
          maxItems: 7
          items: { $ref: "#/components/schemas/ConsentGrant" }
    UpdateConsentsRequest:
      type: object
      additionalProperties: false
      required: [grants]
      properties:
        grants:
          type: array
          minItems: 1
          maxItems: 7
          items:
            type: object
            additionalProperties: false
            required: [capability, granted]
            properties:
              capability: { $ref: "#/components/schemas/ConsentCapability" }
              granted: { type: boolean }
    CareRequestKind:
      type: string
      enum:
        [
          check_in,
          encouragement,
          breathe_together,
          move_together,
          help,
          call_me,
        ]
    CareRequest:
      type: object
      additionalProperties: false
      required:
        - id
        - clientRequestId
        - pairId
        - senderUserId
        - recipientUserId
        - kind
        - status
        - createdAt
      properties:
        id: { type: string, format: uuid }
        clientRequestId: { type: string, format: uuid }
        pairId: { type: string, format: uuid }
        senderUserId: { type: string, format: uuid }
        recipientUserId: { type: string, format: uuid }
        kind: { $ref: "#/components/schemas/CareRequestKind" }
        message: { type: string, minLength: 1, maxLength: 500 }
        status: { type: string, enum: [pending, accepted, declined, expired] }
        createdAt: { type: string, format: date-time }
        respondedAt: { type: string, format: date-time }
    CreateCareRequest:
      type: object
      additionalProperties: false
      required: [clientRequestId, kind]
      properties:
        clientRequestId:
          type: string
          format: uuid
          description: Stable idempotency key generated once by the client, including offline retry.
        kind: { $ref: "#/components/schemas/CareRequestKind" }
        message: { type: string, minLength: 1, maxLength: 500 }
    RespondCareRequest:
      type: object
      additionalProperties: false
      required: [response]
      properties:
        response: { type: string, enum: [accepted, declined] }
    CareRequestResponse:
      type: object
      additionalProperties: false
      required: [careRequest]
      properties:
        careRequest: { $ref: "#/components/schemas/CareRequest" }
    CareRequestListResponse:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/CareRequest" }
        nextCursor:
          {
            type: string,
            minLength: 1,
            maxLength: 256,
            pattern: "^[A-Za-z0-9_-]+$",
          }
    PrivacyState:
      type: object
      additionalProperties: false
      required: [pairId, userId, paused, updatedAt]
      properties:
        pairId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        paused: { type: boolean }
        pausedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    PrivacyStateResponse:
      type: object
      additionalProperties: false
      required: [privacy]
      properties:
        privacy: { $ref: "#/components/schemas/PrivacyState" }
    RealtimeTicketRequest:
      type: object
      additionalProperties: false
      properties:
        lastEventId:
          type: string
          pattern: '^\d+$'
          maxLength: 19
          description: Last fully applied durable event id, for ordered replay.
    RealtimeTicketResponse:
      type: object
      additionalProperties: false
      required: [ticket, expiresAt, webSocketUrl]
      properties:
        ticket: { type: string, minLength: 43, maxLength: 43 }
        expiresAt: { type: string, format: date-time }
        webSocketUrl:
          type: string
          format: uri
          description: Credential-free ws/wss endpoint with no query string.
    RealtimeEventEnvelope:
      type: object
      additionalProperties: false
      required:
        [
          version,
          id,
          eventId,
          authorizationRevision,
          type,
          occurredAt,
          pairId,
          payload,
        ]
      properties:
        version: { type: integer, const: 1 }
        id: { type: string, format: uuid }
        eventId: { type: string, pattern: '^\d+$', maxLength: 19 }
        authorizationRevision:
          type: string
          pattern: '^\d+$'
          maxLength: 19
          description: Pair authorization revision fenced again at live delivery and replay time.
        type:
          type: string
          enum:
            - care.request.created
            - care.request.responded
            - privacy.paused
            - privacy.resumed
            - pair.disconnected
        occurredAt: { type: string, format: date-time }
        pairId: { type: string, format: uuid }
        payload: { type: object, additionalProperties: true }
    RegisterNotificationDevice:
      type: object
      additionalProperties: false
      required: [platform, installationId, token]
      properties:
        platform: { type: string, enum: [ios, android] }
        installationId:
          type: string
          format: uuid
          description: Stable random identifier for this app installation; it is not a hardware identifier.
        token: { type: string, minLength: 16, maxLength: 4096 }
    NotificationDeviceResponse:
      type: object
      additionalProperties: false
      required: [device]
      properties:
        device:
          type: object
          additionalProperties: false
          required: [id, platform, createdAt, updatedAt, expiresAt]
          properties:
            id: { type: string, format: uuid }
            platform: { type: string, enum: [ios, android] }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
            expiresAt: { type: string, format: date-time }
    AndroidIntegrityChallengeRequest:
      type: object
      additionalProperties: false
      required: [action]
      properties:
        action: { type: string, enum: [session_start] }
    AndroidIntegrityChallengeResponse:
      type: object
      additionalProperties: false
      required: [challenge]
      properties:
        challenge:
          type: object
          additionalProperties: false
          required: [id, action, bindingVersion, expiresAt]
          properties:
            id: { type: string, format: uuid }
            action: { type: string, enum: [session_start] }
            bindingVersion: { type: string, const: sha256-v1 }
            expiresAt: { type: string, format: date-time }
    AndroidIntegrityAssessmentRequest:
      type: object
      additionalProperties: false
      required: [challengeId, action, integrityToken]
      properties:
        challengeId: { type: string, format: uuid }
        action: { type: string, enum: [session_start] }
        integrityToken:
          type: string
          minLength: 64
          maxLength: 60000
          pattern: '^\S+$'
          description: Opaque encrypted Standard Integrity token; never stored or logged.
    AndroidIntegrityAssessmentResponse:
      type: object
      additionalProperties: false
      required: [assessment]
      properties:
        assessment:
          type: object
          additionalProperties: false
          required: [id, signal, evaluatedAt]
          properties:
            id: { type: string, format: uuid }
            signal:
              type: string
              enum: [low_risk, elevated_risk, invalid_binding]
              description: Risk telemetry only; it does not alter authorization.
            evaluatedAt: { type: string, format: date-time }
    AppAttestKeyId:
      type: string
      minLength: 44
      maxLength: 44
      pattern: "^[A-Za-z0-9+/]{43}=$"
      description: Opaque App Attest key identifier; never logged and stored by the backend only as a SHA-256 hash.
    IosIntegrityChallengeRequest:
      oneOf:
        - type: object
          additionalProperties: false
          required: [action, supported, keyId]
          properties:
            action: { type: string, enum: [session_start] }
            supported: { type: boolean, const: true }
            keyId: { $ref: "#/components/schemas/AppAttestKeyId" }
        - type: object
          additionalProperties: false
          required: [action, supported]
          properties:
            action: { type: string, enum: [session_start] }
            supported: { type: boolean, const: false }
    IosIntegrityChallengeResponse:
      type: object
      additionalProperties: false
      required: [challenge]
      properties:
        challenge:
          type: object
          additionalProperties: false
          required: [id, action, mode, bindingVersion, clientData, expiresAt]
          properties:
            id: { type: string, format: uuid }
            action: { type: string, enum: [session_start] }
            mode: { type: string, enum: [attestation, assertion, unsupported] }
            bindingVersion: { type: string, const: app-attest-sha256-v1 }
            clientData:
              type: string
              minLength: 64
              maxLength: 1024
              pattern: "^[A-Za-z0-9_-]+$"
              description: Unpadded base64url canonical data whose SHA-256 digest is passed to DeviceCheck.
            expiresAt: { type: string, format: date-time }
    IosIntegrityAssessmentRequest:
      oneOf:
        - type: object
          additionalProperties: false
          required: [challengeId, action, mode, keyId, attestationObject]
          properties:
            challengeId: { type: string, format: uuid }
            action: { type: string, enum: [session_start] }
            mode: { type: string, const: attestation }
            keyId: { $ref: "#/components/schemas/AppAttestKeyId" }
            attestationObject:
              type: string
              minLength: 1
              maxLength: 90000
              pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
              description: Unmodified Apple CBOR attestation object encoded as canonical base64; never logged.
        - type: object
          additionalProperties: false
          required: [challengeId, action, mode, keyId, assertionObject]
          properties:
            challengeId: { type: string, format: uuid }
            action: { type: string, enum: [session_start] }
            mode: { type: string, const: assertion }
            keyId: { $ref: "#/components/schemas/AppAttestKeyId" }
            assertionObject:
              type: string
              minLength: 1
              maxLength: 24000
              pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
              description: Unmodified Apple CBOR assertion object encoded as canonical base64; never logged.
        - type: object
          additionalProperties: false
          required: [challengeId, action, mode]
          properties:
            challengeId: { type: string, format: uuid }
            action: { type: string, enum: [session_start] }
            mode: { type: string, const: unsupported }
    IosIntegrityAssessmentResponse:
      type: object
      additionalProperties: false
      required: [assessment]
      properties:
        assessment:
          type: object
          additionalProperties: false
          required: [id, signal, evaluatedAt]
          properties:
            id: { type: string, format: uuid }
            signal:
              type: string
              enum: [low_risk, elevated_risk, invalid_binding]
              description: Risk telemetry only; it does not alter authorization.
            evaluatedAt: { type: string, format: date-time }
    ProblemDetails:
      type: object
      additionalProperties: true
      required: [type, title, status, code]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer, minimum: 400, maximum: 599 }
        detail: { type: string }
        instance: { type: string }
        code: { type: string }
        requestId: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }
